.jfx-list-cell:selected {
    -fx-background-color: #7f78d2;
    -fx-text-fill: black;
}

.jfx-list-cell {

    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-background-insets: 0.0;
}


.jfx-list-cell:hover{
    -fx-background-color: #efb1ff;

}

.jfx-list-view .scroll-bar:vertical , .jfx-list-view .scroll-bar:horizontal{
    -fx-scale-x: 0;
    -fx-padding: -10;
    -fx-opacity: 0;
}

.vbox {
    -fx-background-color: #602080;
}

.jfx-list-view {
    -fx-background-insets: 0;
    -fx-pref-width: 150;
    -fx-background-color: #602080;
}


